App:
  Name: gincms
  Env: public #开发环境:dev,正式环境:public
  IsDemo：false #演示展示不可以更改数据
  IsDemoWhiteList: #演示允许访问的白名单
    - "post:/admin_api/sys/auth_login"
    - "post:/admin_api/sys/auth_logout"
  IsOpenRecordOperate: false #是否记录用户非get操作到记录表中
  LogPath: "log" #系统日志存放目录
  OssType: "local" #文件上传类型,local代码本地
  UploadDir: "upload" #配置上传目录
  UploadMaxM: 8 #文件上传限制多少M
  LogParamShowClient: false #前端调用接是地,参数错误详细内容是否回显给前端
  LogParamErr: false #是否记录参数错误日志(warn级别)
  OpenRedis: false #是否开启redis
Http:
  WebSiteUrl: "http://localhost:8066" #api服务外网访问的url-目前用于upload文件夹中的图片链接拼接
  AdminApiPort: ":8066" #端口
  UseCrossMiddleware: true #是否使用跨域中间件
  JwtAccessSecret: "zmyt7vzrGh" #jwt加密盐
  JwtAccessExpire: 3600 #jwt多少秒3600代表1小时后过期
  JwtRefreshTokenExpire: 259200 #2天后过期
AdminCaptcha: #登录时验证码配置
  CharLen: 6
  ImgWidth: 150
  ImgHeight: 40
  LimitCaptchaNum: 20
  LimitTimeOut: 60 #秒
DBDefineList:
  Default:
    #user:passwd@tcp(127.0.0.1:3306)/dbname?charset=utf8mb4&parseTime=True&loc=Local&timeout=10s
    dsn: "root:mysqlpwd@tcp(127.0.0.1:3306)/gincms?charset=utf8mb4&parseTime=True&loc=Local&timeout=10s"
    MaxIdleConns: 10
    MaxOpenConns: 100
    ConnMaxIdleTime: 10000
    ConnMaxLifetime: 20000 #秒 小于服务器设置的wait_timeout
#  SecMysql: #项目有多个数据库时，打开注释定义
#    Dsn: "root:passwd@tcp(127.0.0.1:3306)/gin_cms?charset=utf8mb4&parseTime=True&loc=Local"
#    MaxIdleConns: 10
#    MaxOpenConns: 100
Redis:
  Host: 127.0.0.1
  Port: 6379
  Pwd:
  Dbuse: 0